<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/jquery-3.4.1/js/jquery.min.js" type="application/javascript"></script>
    <script src="/bootstrap-3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
    <div  th:replace="common/nav::nav"></div>

    <div>
        <!--<h1 >问题个数:  <span th:text=" ${questionCount}"></span></h1>-->
        <div class="container-fluid" style="margin: 10px">
            <div class="row" >
                <div class="col-lg-9 col-md-12 col-xs-12">
                    <h3><span class="glyphicon glyphicon-list-alt" aria-hidden="false"> 发现</span></h3>
                    <hr/>

                    <div class="media" th:each="question:${questions}" >
                        <div class="media-left media-middle">
                            <a href="#">
                                <img class="media-object" id="my-avatarUrl"  src="https://avatars2.githubusercontent.com/u/26165564?v=4" th:src="${question.getAvatarUrl()}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" >
                                <a th:href="@{'/question/'+${question.id}}" th:text="${question.getTitle()}">
                                怎么快速学会springboot</a></h4>
                            <div th:text="${question.getDescription()}">可以好好学习依稀艾伦秀</div><br><br>
                            <div class="my_graytext" th:text="${question.getCommentCount()}+'个回复,'+${question.getViewCount()}+'次浏览,发布时间:'+${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"> 2个回复,31次浏览,1小时前</div>
                        </div>
                    </div>
                    <div class="modal-footer no-margin-top my-text-center">
                        <div class="">
                            当前第 [[${pageInfo.pageNum}]]页,共 [[${pageInfo.pages}]] 页.一共 [[${pageInfo.total}]] 条记录
                        </div>
                    <!--********************分页部分************************-->
                        <!--比较好看的分页-->
                        <div class="">
                            <!--url地址可以作为参数传入-->
                            <div  th:replace="common/page::pagination('/index')"></div>
                        </div>

                        <!--简单分页-->
                        <!--<div class="center-block">-->
                            <!--<div  th:replace="simplePagination::pagination"></div>-->
                        <!--</div>-->
                    <!--*****************************************************-->

                    </div>

                </div>
                <div class="col-lg-3 col-md-12 col-xs-12">
                    <div>
                        <h3>热门话题</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>