<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发起问题</title>
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap-theme.min.css">
    <script src="/jquery-3.4.1/js/jquery.min.js" type="application/javascript"></script>
    <script src="/bootstrap-3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
    <div  th:replace="common/nav::nav"></div>

    <div class="container-fluid" style="margin: 10px">
        <div class="row" >
            <div class="col-lg-9 col-md-12 col-xs-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="false">发起问题</span></h2>
                <hr/>

                <form action="/question/publish" method="post">
                    <input name="id" hidden="hidden" type="text" th:value="${question.id}">

                    <div class="form-group">
                        <h4>
                            <lable for="title" >问题(简单扼要):</lable>
                        </h4>
                        <input type="text" name="title" class="form-control" id="title" placeholder="问题标题..." th:value="${question.title}">
                    </div>
                    <div class="form-group">
                        <h4>
                            <lable for="description">问题描述:</lable>
                        </h4>
                        <textarea class="form-control" style="height: 300px" id="description" name="description"
                                  placeholder="描述..." th:text="${question.description}"></textarea>
                    </div>
                    <div class="form-group">
                        <h4>
                            <lable for="tag">添加标签:</lable>
                        </h4>
                        <input type="text" class="form-control" id="tag" name="tag" placeholder="标签(逗号隔开)" th:value="${question.tag}">
                    </div>

                    <button type="submit" class="btn btn-success btn-publish" >发布问题</button>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-xs-12">
                <div>
                    <h3>问题发起指南:</h3>
                    <b>1.问题标题:</b> 语句精炼,不超过25个字符<br/>
                    <b>2.问题补充:</b> 问题的详细描述,确保问题描述清楚<br/>
                    <b>3.选择标签:</b> 选择一个或多个合适的标签,用逗号隔开,每个标签不要超过10个字<br/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>