<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="panelBar" th:fragment="pagination">
    <!--简单的分页,显示全部页数-->
    <ul class="pagination pull-right no-margin">
        <li th:if="${pageInfo.hasPreviousPage}">
            <a th:href="'/index?page=1'">首页</a>
        </li>

        <li class="prev" th:if="${pageInfo.hasPreviousPage}">
            <a th:href="'/index?page='+${pageInfo.prePage}">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
        </li>
        <!--遍历条数-->
        <li th:each="nav:${pageInfo.navigatepageNums}">
            <a th:href="'/index?page='+${nav}" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == pageInfo.pageNum}" th:text="${nav}" ></span>
        </li>

        <li class="next" th:if="${pageInfo.hasNextPage}">
            <a th:href="'/index?page='+${pageInfo.nextPage}">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </li>

        <li>
            <a th:href="'/index?page='+${pageInfo.pages}">尾页</a>
        </li>
    </ul>
</div>
</body>
</html>